<div class="loginContainer w-100 h-100 d-flex justify-content-center align-items-center">
    
      <div class="loginBox">
    
        <div class="login-form">
    
          <h1 class="text-center">
            <img src="assets/img/logo.svg" class="w-25" alt="">
          </h1>
    
          <form #f="ngForm" (ngSubmit)="signUp(f.valid,f.value)">
            <div class="form-group ">
              <input type="email" class="form-control" placeholder="Email " id="UserName" #email="ngModel" name="email" ngModel required>
              <i class="fa fa-user"></i>
            </div>
    
            <div class="form-group log-status">
              <input type="password" class="form-control" placeholder="Password" id="Passwod" #password="ngModel" name="password" ngModel required>
              <i class="fa fa-lock"></i>
            </div>
    
            <button type="submit" class="log-btn" [disabled]="!f.valid">Register</button>

            <div class="loaderContainer d-flex justify-content-center" *ngIf="requestingHttp">
              <img src="assets/img/loader.svg" alt="">
            </div>
    
            <div class="linkContainer d-flex justify-content-between align-items-center mt-2 mb-2">
                <a class="text-primary" [routerLink]="['/login']">Login</a>
              </div>
    
          </form>
    
        </div>
    
      </div>
    
    </div>
    