#HEADER_1 {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    height: 64px;
    min-height: 64px;
    min-width: auto;
    text-decoration: none solid rgb(255, 255, 255);
    width: 100%;
    z-index: 3;
    column-rule-color: rgb(255, 255, 255);

    perspective-origin: 663px 32px;
    transform-origin: 663px 32px;
    background: rgb(244, 67, 54) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);

    font: normal normal normal normal 14px / 20px Roboto, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}/*#HEADER_1*/

.headerContainer .navigationContainer{
    font-weight: normal;
    font-size: 1.1rem;
}

.navigationContainer{
    flex:1;
}

.logoBrand{
    height: 100%;
    width: 100px;
}

